body {
    background-color: rgb(41, 39, 39);
    color: #ececec;
    list-style-type: circle;
}

body.em {
    text-emphasis-color: #237fe9;
    text-emphasis-style: "*";
}

h2 {
    color: #ececec;
}

h3 {
    color: #ececec;
    text-emphasis-color: white;
}

ul li::marker {
    color: #00ff40
}

#parentcontainer {
    position: relative;
    width: 1200px;
    height: 1500px;

}

#childcontainer {
    position: absolute;
    width: 1000px;
    height: 800px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
