body {
    background-color: rgb(41, 39, 39);
    color: #ececec;
    list-style-type: circle;
}

body.em {
    text-emphasis-color: white;
    text-emphasis-style: "*";
}

h2 {
    color: #ececec;
}

h3 {
    color: #ececec;
    text-emphasis-color: white;
}

ul li::marker {
    color: #00ff40
}

#parentcontainer {
    position: relative;
    width: 800px;
    height: 1000px;
}

#childcontainer {
    position: absolute;
    width: 600px;
    height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
