body {
    background-color: rgb(41, 39, 39);
    color: #ececec;
    list-style-type: circle;
    font-family: monospace;
    font-size: large;
}

h2 {
    color: #ececec;
}

h3 {
    color: #ececec;
    text-emphasis-color: white;
}

ul li::marker {
    color: #00ff40
}

.certifictions {
    padding: 0px;
}

.certifictions_item {
    padding: 0px;
}

.certifictions img {
    display: block;
    width: 100px;
}

#parentcontainer {
    position: relative;
    width: 1200px;
    height: 800px;

}

#childcontainer {
    position: absolute;
    width: 700px;
    height: 800px;
    top: 0;
    left: 400px;
    bottom: 0;
    right: 0;
    margin: auto;
}
